body{
  background-color: white;
  text-align: center;
}
h1{
  color: blue;
  text-emphasis-color: black;
}
p{
  color:red;

}
ol{
  color: green;
  padding: 20px;
}
ul{
  color: yellow;
  padding: 20px;
}
